.guide {
    padding-top: 100px;
	margin-top: 50px;
}

.guide .col-md-12 {
	padding-left: 0px;
}

.guide .section-heading {
	margin-bottom: 30px;
}

.guide .container .row {
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
}

.guide img {
	width: 100%;
	overflow: hidden;
}

.guide h3 {
	font-size: 20px;
	color: #1a6692;
	margin-bottom: 20px;
}

.guide .infographics h4 {
	font-size: 18px;
	color: black;
	text-align: center;
}

.guide .infographics p {
	text-align: center;
}


.guide .filled-button {
	margin-top: 20px;
}

.guide .infographics {
    display: flex;
	flex: auto;
	margin-bottom: 20px;
}

.guide .infographics img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 100%;
	padding-bottom: 20px;
}

