
.about-us {
	margin-top: 50px;
    padding-top: 100px;
}

.about-us .container .row {
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
}

.about-us img {
	width: 100%;
	overflow: hidden;
}

.about-us h4 {
	font-size: 19px;
	color: #1a6692;
	margin-bottom: 20px;
}


.about-us ul.featured-list li {
	display: list-item;
	margin-bottom: 10px;
    font-size: 14px;
	color: #4a4a4a;
	font-weight: 300;
	transition: all .3s;
	position: relative;
    list-style-type: square;
    list-style-position: inside;
    margin-top: 0px;
}

.about-us p {
	margin-bottom: 18px;
}


.about-us ul.featured-list li a:before {
	content: '';
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #4a4a4a;
	position: absolute;
	left: 0;
	transition: all .3s;
	top: 8px;
}

.about-us ul.featured-list li a:hover {
	color: #f33f3f;
}

.about-us ul.featured-list li a:hover::before {
	background-color: #f33f3f;
}

.about-us .filled-button {
	margin-top: 20px;
}

.about-us .right-image {
    padding-top: 45px;
}
